{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "jest": true,
    "expect": true,
    "describe": true,
    "before": true,
    "after": true
  },
  "rules": {
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-multiple-empty-lines": [2, { "max": 1, "maxEOF": 0 }],
    "eol-last": [2, "always"],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
  }
}
