# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
.rpt2_cache
docker-compose.override.yml

# misc
.DS_Store

**/*.local
**/*.prod
/data

npm-debug.log*
yarn-debug.log*
yarn-error.log*
